@CHARSET "UTF-8";


 .mytable{
 border:1px solid  black; 
 border-collapse: collapse;
 width: 300px;
 height: 200px;
 border-bottom: none;
}

.mytable td{
 border:1px solid black; /* 内边框不显示 */
 padding: 5px;
} 


.result-div{
	position: absolute;
	top:77px;
	left:350px;
	width: 700px;
	height:500px;
}

.target-div{
	position: absolute;
	top:590px;
	left:350px;
	width: 700px;
	height:110px;
	/*background-color:#70b6d9;*/
}

.conditionTab{
	cursor: pointer;
	width: 33.33%;
}

.selectCls{
	width: 118px;
	height: 150px;
}

.operate_tb td , .oper_btn_tb td{
	border: none;
	padding: 0px;
	text-align: center;
}

.avg-title{
	width: 100%;
	height: 10%;
	text-align: center;
	font-size: 20px;
	color: #333333;
}

.avg-sub-title{
	width: 100%;
	height: 5%;
	color: #333333;
}

.avg-content{
	width: 100%;
	height: 58%;
    max-height: 255px;  
    overflow-x: auto;
	overflow-y: auto;
}

.avg-content1{
	width: 100%;
	height: 75%;
    max-height: 340px;  
    overflow-x: auto;
	overflow-y: auto;
}

.center-table{
	width: 100%;
	border-spacing: 0px;
	 border-collapse: collapse;
}
.center-table th{
	border:1px solid #797979;
	width: 80%;
	 border-bottom: none;
}
.center-table td{
	border:1px solid #797979;
	width: 80%;
	text-align: center;
 	padding:5px;
}

.center-table1{
	width: 100%;
	border-spacing: 0px;
	 border-collapse: collapse;
}
.center-table1 th{
	border:1px solid #797979;
	width: 30%;
	  border-bottom: none;
}
.center-table1 td{
	border:1px solid #797979;
	width: 30%;
	text-align: center;
 	padding:5px;
}

/*日志统计界面修改 @黄琼*/
.item-content-append-container-y-new {
	position: absolute;
	width: 100%;
	top: 45px;
	bottom: 30px;
	_height: expression(document.body.offsetHeight -167 +'px');
}

.log-left{
	width: 34%;
	height: 100%;
	
}
.log-right{
	position: absolute;
	top:0px;
	left:35%;
	width: 65%;
	height:100%;
	
}
.selectCls1{
	width: 90px;
	height: 140px;
}

.mytable-new{
 border:1px solid  #797979; 
 border-collapse: collapse;
 border-bottom:none;
 border-spacing: 0px;
 padding:5px 0px 5px 0px;
 width: 100%;
}
.mytable-new td{
	border:1px solid #797979;
	 border-bottom:none;
}
.last-table{
	border-bottom:1px solid #797979;;
}

.log-contend{
	width: 100%;
	height:83%;
}
.log-remind{
	  font-weight: bold;
	  color: #0070C0;
}
.log-result table  th {
  background-image: url("../images/table-bg.png");
  background-repeat: repeat;
  height: 32px;
  text-align: center;
}
.operate_tb-new{
	border: none;
}
.operate_tb-new td{
	border: none;
}


